.muestra__nivel {
  --x5-medida-elemento: calc(5 * var(--medida-elemento));

  --color-elemento-medio: hsl(50, 70%, 40%);
  --color-elemento-final: hsl(100, 70%, 30%);
  background-color: var(--color-base);

  width: var(--x5-medida-elemento);
}

.muestra__nivel .elemento {
  height: var(--medida-elemento);

  /* animation-name: nivel;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; */

  animation: nivel 2s ease-in-out infinite;
}

@keyframes nivel {
  0% {
    width: var(--medida-elemento);
    background-color: var(--color-elemento);
  }
  50% {
    background-color: var(--color-elemento-medio);
  }
  100% {
    width: var(--x5-medida-elemento);
    background-color: var(--color-elemento-final);
  }
}
