.square {
    display: inline-block;
    width: var(--medida-elemento);
    height: var(--medida-elemento);
    background: var(--color-elemento);}

.hithere {
    animation: hithere 1s ease infinite;
}

@keyframes hithere {
    30% { transform: scale(1.2); }
    40%, 60% { transform: rotate(-20deg) scale(1.2); }
    50% { transform: rotate(20deg) scale(1.2); }
    70% { transform: rotate(0deg) scale(1.2); }
    100% { transform: scale(1); }
}