.muestra__empujones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;

  background-color: var(--color-base);

  --x5-medida-elemento: calc(5 * var(--medida-elemento));
  --x2-medida-elemento: calc(2 * var(--medida-elemento));

  width: var(--x5-medida-elemento);
}

.muestra__empujones .elemento {
  width: var(--medida-elemento);
  height: var(--medida-elemento);
  background-color: var(--color-elemento);

  /* 
  animation-name: empujones;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;   
  */

  animation: empujones 1.5s infinite;
}

.muestra__empujones .elemento--01 {
  animation-delay: 0.5s;
}
.muestra__empujones .elemento--02 {
  animation-delay: 1s;
}
.muestra__empujones .elemento--03 {
  animation-delay: 1.5s;
}

@keyframes empujones {
  0% {
    width: var(--medida-elemento);
  }
  50% {
    width: var(--x2-medida-elemento);
  }
  100% {
    width: var(--medida-elemento);
  }
}
