* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
:root {
    --color-elemento: hsl(8, 70%, 50%);
  
    --color-fondo: hsl(0, 0%, 90%);
    --color-base: hsl(0, 0%, 70%);
  
    --medida-elemento: 0.8em;
}

body {
    height: 100vh;
  
    background-color: var(--color-fondo);
  
    display: grid;
    place-items: center;
  }

.contenedor{
    background-color: var(--color-base);
    height: 120px;
    width: 120px;
    border-radius: 5%;
    text-align: center;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-rows: 30% 70%;
    place-content: center; 
    gap: 0px 0px;
    
}

  .lienzo{
    display: grid;

    width: 80%;
    height: 80%;
  
    background-color: var(--color-secundario);
    grid-template-rows: 30% 70%; 
  
    grid-template-areas: "Cabecera" "Animaciones";
  }

  .cabecera{
    background-color: var(--color-primario);
    color: var(--color-sobre-primario);
  
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
  
    grid-area: Cabecera;
  }

  .animaciones{
    grid-area: Animaciones;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(120px, 100%), 1fr));
    place-content: start;
    gap: 1rem;
  }